<h1>Learning Record Stores</h1>

<table id="stores" class="table table-hover table-striped table-condensed">
  <thead>
  <tr>
    <td>ID</td>
    <td>Title</td>
    <td>Description</td>
    <td></td>
  </tr>
  </thead>

  <% @stores.each do |store| %>
  <tr>
    <td><%= store.id %></td>
    <td><%= store.title %></td>
    <td><%= store.description %></td>
    <td>
      <%= link_to 'Statements', admin_lrs_statements_path(store), class: "btn btn-primary btn-xs" %>
      <%= link_to 'States', admin_lrs_activity_states_path(store), class: "btn btn-primary btn-xs" %>
      <%= link_to 'Activities', admin_lrs_activity_profiles_path(store), class: "btn btn-primary btn-xs" %>
      <%= link_to 'Agents', admin_lrs_agent_profiles_path(store), class: "btn btn-primary btn-xs" %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @stores %>